@font-face {
  font-family: "KaiseiTokumin";
  src: url("/font/KaiseiTokumin-Regular.ttf");
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: KaiseiTokumin, sans-serif;
}

.div-imageBanniere {
  width: 100%;
  height: 500px;
  margin: auto;
}

.imageBanniere {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ulNav {
  width: 80%;
  justify-content: space-around;
  display: flex;
  margin: auto;
  padding: 15px;
  /* background: #68747742; */
  margin-bottom: 50px;
}

.ulNav a {
  cursor: pointer;
  color: black;
}

.ulNav a:hover {
  /* color: #e2c2b3; */
  font-weight: bold;
  transition: 1s;
  text-shadow: 0.1em 0.1em 0.2em grey;
}

.fa-instagram,
.fa-arrow-left,
.fa-twitter {
  font-size: large;
}

h1 {
  cursor: pointer;
  position: absolute;
  left: 20px;
  color: darkblue;
}

h1 a {
  color: black;
}

/* icone retour */

.fa-arrow-left {
  padding-right: 5px;
}

/* -------------- h2----------------*/

h2,
p,
h3 {
  margin-left: 50px;
}

h2 {
  color: darkblue;
}

/* LECON 1 -------------- alphabet + prononciation -----------*/

/* bordure des tableaux */

td {
  border: 1px solid black;
}

/* les tableaux */

table {
  margin: auto;
  width: 85%;
  text-align: center;
  border-collapse: collapse;
}

/* lettres en français et lettres en japonais */

.sizeTitleLetter {
  padding: 10px;
  color: rgba(0, 0, 139, 0.89);
  font-weight: bolder;
}

/* colore les lettres des mots du tableau "phonetique"*/
.redSpan {
  color: red;
}

/* icone play des tableaux */

i {
  font-size: small;
  padding-left: 5px;
  cursor: pointer;
}

/* taile des lettres en français */

.sizeLetter {
  padding: 5px;
}

/* cursor sur les mots du tableau en forme de main */

.cursorPointerOnLetterAndWord {
  cursor: pointer;
}

/* cursor sur les mots en forme de fleche */

.cursorArrow {
  cursor: default;
}

.AutresReglesSpeciales {
  margin-left: 5px;
}

/* LECON 2 --------------------- les salutations ----------------*/
/* ---------------- footer ------------*/

footer {
  width: 100%;
  height: 100px;
  background-color: #b69f9f77;
  margin-top: 50px;
}
.footer-ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

footer li {
  color: black;
  margin-top: 30px;
  font-size: 20px;
}

footer i {
  font-size: 30px;
  padding: 5px;
}

/* lecon 9*/
.listelecon9 {
  margin-left: 50px;
}

/* ------------ style of audios */

/* titres h4 texte 1 - texte 4 */

h4 {
  text-align: center;
}

/* media query of lesson 1 */

@media only screen and (min-width: 360px) and (max-width: 700px) {
  /* menu nav */

  .ulNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 0px;
  }

  .liNav {
    padding: 5px;
  }

  /* titre h2 + h3 (autres regles speciales)*/

  .h2NiveauA1Lecon1 {
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  /* texte alphabet*/

  .textAlphabet {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  /* texte autres regles speciales */

  .autresReglesSpeciales {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 0px;
  }
}
